<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>UFO Sightings</title>
</head>
<body>

<!-- Navbar Fragment -->
<nav th:fragment="navbar">
    <div class="placeholder-navbar">
        <div class="brand">UFO Sightings</div>
        <div class="spacer" style="flex:1"></div>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/sightings}">Sightings</a>
        <!-- Example dashboard link with userId placeholder-->
        <a th:href="@{/reporter-dashboard/1}">Dashboard</a>
    </div>
</nav>
</body>
</html>
